*{
    background: linear-gradient(-45deg, #194596, #0A285F);
    font-family: 'Minecraft', sans-serif;    
    background-attachment: fixed;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
   
    background-color: white !important;
}
.logo{
    height: 70px;
}
.logo2{
    height: 70px;
    margin-left: 8% ;
}
.container li{
    display: inline-block;
    padding: 0px 5px;
    font-size: 20px;
    text-transform: uppercase;
}
            
.container a{
    text-decoration: none;
    color: #FFCC00;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.container a:hover{
    color: #D5A100;
}

h1{
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  color: white;
  font-weight: 100;
  font-size: 42px;
  line-height: 24px;
  padding: 30px 40px;
  text-align: left;
  width: 90%;
}
p{
  color: rgb(253, 253, 253);
  line-height: 1.3em;
  text-align: justify;
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 40px;
}
 
.banner{
  background-size: cover;
  background-position: bottom center;
  width: 100%;
}
#border2{
    align-items: right;
    padding: 10px 40px;
    line-height: 24px;
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.starters{
    color: rgb(253, 253, 253);
    font-weight: 100;
    font-size: 22px;
    padding: 30px 40px;
    text-align: center;

}
#startimg{
    height: 100px;
    width: 100px;
    display: inline-flex;
}