*{
    background:     #fef9f8;
    font-family: 'Poppins', sans-serif;  
    background-attachment: fixed;
    margin: 0;
    box-sizing: border-box;
    color: #0d0d0d;
    padding: 10px;
}

.wrapper{
    margin: 50px auto 70px;
    
}
#space{
    margin: 100px auto;
    position: relative;
}

p{
    padding: px;
    font-size: 20px;
    margin: -20px auto;
}

#line {
    flex: 1;
  border-bottom: 3px dashed #ef9273;
  position: relative;
  margin: 0 auto;
}

#writerimg {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 25%;
    margin: 10px 0px;
}
#writerimg:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}
.about{
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.5);
    float: right;
    padding: 50px;
    font-size: 14px;
    padding-right: 5px;
    text-transform: uppercase;
}

h1, h2{
    color: #ef9273;
    font-size: 40px;
}
img{
    float: left;
    border-radius: 40px;
    margin-right: 15px;
    height: 200px;
    margin-top: 15px;
}
#contact{
    text-align: center;
}
h4{
    color: #dc7654;
    font-size: 30px;
    margin-top: -50px;
}
#div2 img{
    float: right;
}
li{
    font-size: 16px;
}
ul{
    margin-bottom: 20px;
}


