*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Italiana', serif;
    color: #f5f5f5;
}

.img{
    background-image: url("/assests/images/wine2.jpg");
    width: auto;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 100px;
    font-family: 'Italiana', serif;
    font-weight: 100px;
    margin-bottom: 40px;
    border: 10px white dotted;
    background-color: #a62f4e;
    border-radius: 50px;
    margin-left: 15%; 
    margin-right: 15%; 
}
h2{
    font-size: 50px;
    background-color: #a62f4e;
}
td{
    width: 30%;
    font-size: 30px;
    background-color: #a62f4e;
    font-weight: bold;
}
th, tr ,h3{
    background-color: #a62f4e;
}

table{
    margin: 0px auto;
    width: 30%;
    height: 100px;
    border: 6px #ffffff dotted;
    background-color: #a14c59;
}


