@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  body {
    @apply bg-background text-primary font-sans antialiased dark:bg-gray-950 dark:text-gray-100 transition-colors duration-300;
  }
}

.dark .text-primary {
  @apply text-gray-100;
}

.dark .text-secondary {
  @apply text-gray-400;
}